<div class="home-container">
  <div class="box-loan">
    <h1>Loan amount</h1>
    <sup>$</sup>
    <input class="total_loan total" value="2500">
    <%# <span >900</span> %>
  </div>
  <div class="box-months">
    <button class='months months_active' value='24'>1 month</button>
    <button class='months' value='28'>2 month</button>
    <button class='months' value='32'>3 month</button>
  </div>
  <input type="range" min="500" max="5000" value="2500" step="100" class="slider" id="myRange">
  <div class="box-details">
    <p>Amount Borrowed</p>
    <input class='p-value total' name="loan_asked" value="2500">
    <p>Fees</p>
    <input class='p-value fee' name="fee" value="600">
    <p>Total Repayment</p>
    <input class='p-value total-repayment' name="total" value="3100">
  </div>
  <button>APPLY NOW</button>
</div>
