<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Hurry Money</title>
    <link rel='stylesheet' href='/stylesheets/main.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <% if logged_in? %>
      <nav class="navbar">
        <h4>Welcome <%= current_user()['firstname'] %> <%= session[:user_id][:type] %></h4>
        <a href="/">
          <img src="https://www.freelogodesign.org/file/app/client/thumb/ebf87dbb-b4af-4625-a2b8-932af17af6fd_200x200.png?1603413349838" alt="logo">
        </a>
        <a href="/">profile</a>
        <form action="/logout" method="post">
          <input type="hidden" name="_method" value="delete">
          <button class="log out">log out</button>
        </form>
      </nav>
      <%= yield %>
    <% else %>
      <nav class="navbar">
        <a href="/">
          <img src="https://www.freelogodesign.org/file/app/client/thumb/ebf87dbb-b4af-4625-a2b8-932af17af6fd_200x200.png?1603413349838" alt="logo">
        </a>
        <a href="/login">login</a>
        <a href="/sign.up"> sign up</a>
      </nav>
      <%= yield %>
    <% end %>
    <script src="/javascripts/application.js"></script>
  </body>
</html>
<%# feemonth*loan/100 %>
