<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Hurry Money</title>
    <link rel='stylesheet' href='/stylesheets/main.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%# <a href="/">Home</a> %>
    <% if logged_in? %>
      <nav>
        <h4>Welcome <%= current_user()['firstname'] %> <%= session[:user_id][:type] %></h4>
        <form action="/logout" method="post">
          <input type="hidden" name="_method" value="delete">
          <button>logout</button>
        </form>
      </nav>
      <h1>Loan amount</h1>
    <% end %>
    <%= yield %>
    <script src="/javascripts/application.js"></script>
  </body>
</html>
<%# feemonth*loan/100 %>
